.exaBox,
.exaBox:before,
.exaBox:after{
    border-style: solid;
    border-color: #1fcede;
    border-width: 1px;
    border-top: none;
    border-bottom: none;
    height: 60px;
    width: 103.92px;
}

.exaBox{
    text-align: center;
    position:relative;
    z-index:0;
    margin: 60px 10px;
    background-color: #1fcede;
}

.exaBox:after,
.exaBox:before{

    content: "";
    position: absolute;
    top:0;
    left: -1px;
    z-index: -1;
    background-color: #1fcede;
}

.exaBox:before{
    -webkit-transform: rotate(60deg);
       -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
         -o-transform: rotate(60deg);
            transform: rotate(60deg);
}

.exaBox:after{
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
}

.exaBox:hover,
.exaBox:hover:before,
.exaBox:hover:after{
    border-color: #000000;
}
