.exaBox,
.exaBox:before,
.exaBox:after{
    border-style: solid;
    border-color: #3a87ee;
    border-width: 1px;
    border-top: none;
    border-bottom: none;
    height: 60px;
    width: 105px;
}

.exaBox{
    text-align: center;
    position:relative;
    z-index:0;
    margin: 60px 10px;
    background-color: #3a87ee;
}

.exaBox:after,
.exaBox:before{
    content: "";
    position: absolute;
    top:0;
    left: -1px;
    z-index: -1;
    background-color: #3a87ee;
}

.exaBox:before{
    -webkit-transform: rotate(60deg);
       -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
         -o-transform: rotate(60deg);
            transform: rotate(60deg);
}

.exaBox:after{
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
}

.exaBox:hover,
.exaBox:hover:before,
.exaBox:hover:after{
    border-color: #000000;
}



.myParamDiv{
    border: 5px solid blue;
    border-color: #0b4976;
    border-width : 3px;
    background-color:#e9f0f5;
}



.navbar-default {
    border-radius: 0;
    background-image: url('img.png');
    z-index: 999;
    height: 70px;
    border-color: #070C60;

}
.navbar-default .navbar-nav > li > a{
    color: #FFF;
    font-size: 25px;
    vertical-align: middle;
}
.navbar-default .navbar-nav > li > a {
    padding-top: 22px;

}
.navbar-default .navbar-brand {
    color: #FFF;
    border-right-style: solid;
    border-right-color: #FFF;
    height: 70px;
    border-width:1px;
}
.navbar-brand:hover{
    color: #FFF;
}


.navbar-default span.navbar-brand:hover {
      color: #FFF;
}


.navbar-default .navbar-nav > li {
    border-right-style: solid;
    border-right-color: #FFF;
    height: 70px;
    border-width:1px;
}

.navbar-brand{
   color: #FFF;
   font-size: 40px;
  padding-top: 22px;
}


.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FFF;
    background-color: #80ccff;
    height: 70px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: #0099ff;
    height: 70px;
     font-weight: bold;
}

.navbar-default .navbar-text {
    color: #FFF;
}

.navbar-default .navbar-toggle {
    border-color: #0099ff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #0099ff;
}

